<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>

var currentList = "";

// Adds a new list
var addList = function(listName) {
    $.post("/", listName, loadLists);
}

// Load all lists.
var loadLists = function() {
    $("#lists li").remove();
    $.get("/", function(data) {
        // Add items.
        data.forEach(function(e) {
            var elm = $("<li><a href=\"#\" onclick=\"loadTodos('"+e.name+"');\">"+e.name+" </a>"+(e.size)+"</li>");
            elm.appendTo("#lists");
        });
    });
}

// Load all TODOs for a list.
var loadTodos = function(listName) {
   $("#todos li").remove();
   $.get("/"+listName, function(data) {
       currentList = listName;
       $("#listName").html(currentList);
       data.forEach(function(e){
           var elm = $("<li><a href=\"#\">"+e.text+"</a></li>");
           elm.appendTo("#todos");
       });
   });
}

var loadStatistics = function() {
    $.get("/stats", function(data) {
        $("#totalCreated").html("Total created: "+data.totalCreated);
        $("#totalCompleted").html("Total completed: "+data.totalCompleted);
    });
}

var addTodo = function(text) {
    var theList = currentList;
    $.post("/"+currentList, text, function(d) {
        loadLists();
        loadStatistics();
        loadTodos(theList);
    });
}

// Load lists when the page loads.
$(document).ready(function () {
    loadStatistics();
    loadLists();
});

    </script>
</head>
<body>
<div>
    <div id="menu">
        <h2>Statistics</h2>
        <ul>
            <li id="totalCreated">Total created: 0</li>
            <li id="totalCompleted">Total completed: 0</li>
        </ul>
        <h2>Lists</h2>

        <div>
            <input id="newListField" type="text" name="newList"/>
            <button onclick='addList($("#newListField").val()); $("#newListField").val("");'>Add</button>
            <button onclick="loadLists();">Refresh</button>
        </div>
        <ul id="lists">
        </ul>
        <div id="raw"></div>
    </div>
    <div id="main">
        <h2>Items</h2>

        <h3 id="listName"></h3>

        <div>
            <input id="newTodoField" type="text" name="newTodo"/>
            <button onclick='addTodo($("#newTodoField").val()); $("#newTodoField").val("");'>Add</button>
        </div>
        <ul id="todos">
            <li>.. no list selected ..</li>
        </ul>
    </div>
</div>
</body>
</html>

